.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Silkscreen&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo-fijo {
  font-family: 'Rubik Doodle Shadow';
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  font-size: 24px;
  z-index: 1000;
  width: 100%;
  text-align: center;
}

.InputMensaje {
  width: calc(100% - 20px); /* Reduce el espacio para el borde */
  padding: 10px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
}

.countdown-container {
  width: 100%;
  max-width: 90%;
  
}


.chat-container {
  width: 100%;
  max-width: 90%; /* Reduce un poco el ancho para dispositivos pequeños */
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(70, 67, 66, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

